body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#title-banner{
    text-align: center;
    background: url("../banner.png");
    font-size: 40px;
    background-repeat: repeat;
    margin: 0 auto;
    padding: 30px;
}

#navigation {
    width: 35%;
    float: left;
    overflow-y: scroll;
    height: 450px;

}

.fruit:hover{
    filter: brightness(0.5);
}

#navigation img {
    height: 33%;
    width: 33%;
    cursor: pointer;
}

#details {
    float: right;
    height: auto;
}

#details img {
    margin-right: auto;
    position: relative;
    width: 50%;
    height: 50%;
}

#searchbox{
    width: 35%;
    height: 75px;
    margin-top: auto;
    margin-right: auto;
}