#navigation {
    width: 35%;
    float: left;
    overflow-y: scroll;
    height: 450px;

}

#navigation img {
    height: 33%;
    width: 33%;
    cursor: pointer;
}

#details {
    float: right;
    height: auto;
}

#details img {
    margin-right: auto;
    position: relative;
    width: 50%;
    height: 50%;
}

#searchbox{
    width: 35%;
    height: 75px;
    margin-top: auto;
    margin-right: auto;
}